/* .App {
  text-align: center;
} */

#nav {
  background-color: rgb(44, 44, 47);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 60px 20px 100px;
}

#top {
  /* background-color: rgb(25, 29, 53); */
  background-image: url(../public/bg.jpeg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

#bottom {
  background-color: white;
  color: rgb(74, 74, 74);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}
